{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}

{% block main %}
    <br>
    <div class="card bg-light mb-3" >
        <div class="card-header">
            <h1>Solicitação de cliente</h1>
        </div>
      <div class="card-body">

        <p class="card-text">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|bootstrap }}
                    <div class="card-footer bg-transparent" align="center">
                            <input id="phonenumber" value="{{view.kwargs.phonenumber}}" hidden>
                            <button type="submit" class="btn btn-info" name="salvar" value="sem_whats">Salvar</button>

                    </div>
            </form>
        </p>
      </div>
    </div>
{% endblock %}

