.idea
*.sqlite3
db.sqlite3
gobbivenv
*__pycache__*
/apps/__pycache__/*
/__pycache__/*
/apps/clientes/__pycache__/*
/apps/servicos/__pycache__/*
/apps/tiposServicos/__pycache__/*
/apps/empresas/__pycache__/*
/apps/clientes/migrations/__pycache__/*
/apps/servicos/migrations/__pycache__/*
/apps/tiposServicos/migrations/__pycache__/*
/apps/empresas/migrations/__pycache__/*
/apps/andamentos/__pycache__/*
/apps/andamentos/migrations/__pycache__/*
/apps/pedidos/__pycache__/*
/apps/pedidos/migrations/__pycache__/*
/apps/status/__pycache__/*
/apps/status/migrations/__pycache__/*
/apps/contasreceber/__pycache__/*
/apps/contasreceber/migrations/__pycache__/*
/apps/solicitacoes/__pycache__/*
/apps/solicitacoes/migrations/__pycache__/*
/apps/campanhas/__pycache__/*
/apps/campanhas/migrations/__pycache__/*
/apps/empregados/__pycache__/*
/apps/empregados/migrations/__pycache__/*
/apps/templates_mensagens/__pycache__/*
/apps/templates_mensagens/migrations/__pycache__/*
/apps/core/__pycache__/*
/apps/core/migrations/__pycache__/*
gobbiconsultoria/__pycache__/*
/apps/contaspagar/migrations/__pycache__/*
/apps/contaspagar/__pycache__/*
/apps/plano_contas/migrations/__pycache__/*
/apps/plano_contas/__pycache__/*
/apps/tipos_contas/migrations/__pycache__/*
/apps/tipos_contas/__pycache__/*
/apps/vendedores/migrations/__pycache__/*
/apps/vendedores/__pycache__/*
db.sqlite3
apps/vendedores/__pycache__/*
apps/arquivos/__pycache__/*
apps/contaspagar/__pycache__/*
apps/core/api/__pycache__/*
apps/planos_contas/__pycache__/*
apps/tipos_contas/__pycache__/*
apps/arquivos/migrations/__pycache__/*
apps/contaspagar/migrations/__pycache__/*
apps/planos_contas/migrations/__pycache__/*
apps/tipos_contas/migrations/__pycache__/*
apps/vendedores/migrations/__pycache__/*
*local_settings.py*
*.bak
*.bat
*.pid
*.dir
*__pycache__*
media/*



