{% extends 'base.html' %}
{%  load static %}
{% block main %}
    <p>
        <h1>Campanhas cadastradas</h1>
        <a href="{% url 'create_campanha' %}" class="btn btn-info">Cadastrar nova campanha</a>
    </p><br>

    <div class="row">
        {%  for campanha in object_list %}
        <div class="col-md-3">
            <div class="card bg-light mb-3" >
                <div class="card-header"><h5>{{ campanha.nome }} </h5></div>
                <div class="card-body">
                    <h5 class="card-title">Cadastrada em {{ campanha.dataHoraCriacao|date:'d/m/Y' }}</h5>
                    <p class="card-text">
                        {{ campanha.nome }}<br>
                        Ativacao: {{ campanha.dataHoraAtivacao|date:'d/m/Y' }}<br>
                        Inativacao: {{ campanha.dataHoraInativacao|date:'d/m/Y' }}<br><br>
                        Arquivo: <br>{{ campanha.arquivo }}
                    </p>
                </div>
                <div class="card-footer bg-transparent" align="center">
                    <a href="{% url 'update_campanha' campanha.id %}" ><img src="{% static 'images/edit.png'%}" alt="Editar" ></a>&nbsp;
                    <a href="{% url 'delete_campanha' campanha.id %}"><img src="{% static 'images/delete.png'%}" alt="Deletar" ></a>&nbsp;
                </div>
            </div>
        </div>
        {% endfor %}
    </div><br>



{% endblock %}
