{% extends 'base.html' %}
{%  load static %}

{% block main %}

    <p>
        <h1>Clientes cadastrados</h1>
         <a href="{% url 'create_cliente' %}" class="btn btn-info">Cadastrar novo cliente</a>
    </p><br>
    <div class="row">
        {%  for cliente in object_list %}
        <div class="col-md-3">
            <div class="card bg-light mb-3" >
                <div class="card-header"><h5>{{ cliente.nome }} <br> Id.Cliente: {{ cliente.id }}</h5></div>
                <div class="card-body">
                    <p class="card-text">
                        <b>{{ cliente.nomeContato }}</b><br>
                        {{ cliente.emailContato }}<br><br>
                        Solicitações realizadas: {{ cliente.total_solicitacao }}<br>
                        Documentos anexados: {{ cliente.total_arquivos }}
                    </p>
                    <!-- Accordion -->
                    <div id="accordion{{ cliente.id }}">
                      <div class="card">
                        <div class="card-header" id="headingOne">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne{{ cliente.id }}" aria-expanded="false" aria-controls="collapseOne{{ cliente.id }}">
                              Compras realizadas: {{  cliente.total_pedidos }} <br>
                            </button>
                          </h5>
                        </div>

                        <div id="collapseOne{{ cliente.id }}" class="collapse" aria-labelledby="headingOne"  data-parent="#accordion">
                            <div class="card text-white bg-secondary mb-3" >
                                <div class="card-header" style="font-size: small;">
                                {% for pedido in cliente.pedido_set.all  %}
                                    {%  if pedido.id < 10 %}
                                        Pedido 0{{ pedido.id }}
                                    {%  else %}
                                        Pedido {{ pedido.id }}
                                    {% endif %}
                                    <br>
                                    Feito em {{ pedido.dataHoraCriacao|date:'d/m/Y' }}<br>
                                    R$ {{ pedido.valor|floatformat:2  }} <br>
                                    Status: {{ pedido.status  }}
                                    <a href="{% url 'update_pedido' pedido.id %}"> <img src="{% static 'images/edit.png'%}" alt="Editar" width="16px"></a>
                                    <br><br>

                                 {%  endfor  %}
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <!-- fim accordion -->
                </div>
                <div class="card-footer bg-transparent" align="center">
                    <a href="{% url 'update_cliente' cliente.id %}" ><img src="{% static 'images/edit32x32.png'%}" alt="Editar" ></a>&nbsp;
                    <a href="{% url 'create_arquivo' cliente.id %}"><img src="{% static 'images/document.png'%}" alt="Upload" ></a>
                    <a href="{% url 'delete_cliente' cliente.id %}"><img src="{% static 'images/delete.png'%}" alt="Deletar" ></a>&nbsp;
                </div>
            </div>
        </div>
        {% endfor %}
    </div><br>



{% endblock %}
