{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}
{%  block head %}
<script>
function function_whats(){
    var text = document.getElementById("id_comentario").value;
    var phone = document.getElementById("phonenumber").value;
    message = 'Olá, tudo bem? O status do seu pedido foi atualizado. Segue o comentário feito por nosso atendente: ' + text;

    if (text) {
        url = 'https://api.whatsapp.com/send?phone='+phone+'&text='+message
        console.log('url:', url);
        window.open(url,'whatsapp');
    } else {
        alert('Informe o texto que deseja enviar ao cliente!')
    }
}
</script>
{%  endblock %}
{% block main %}
    <br>
    <div class="card bg-light mb-3" >
        <div class="card-header">
        <h1>Andamento </h1>
             <img src="{% static 'images/whatsapp.png'%}" alt="Whats" >Para enviar Whatsapp para o cliente, clique no botão da direita
      </div>
      <div class="card-body">

        <p class="card-text">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|bootstrap }}
                    <div class="card-footer bg-transparent" align="center">
                            <input id="phonenumber" value="{{view.kwargs.phonenumber}}" hidden>
                            <button type="submit" class="btn btn-info" name="salvar" value="sem_whats">Salvar e NÃO enviar Whatsapp</button>
                            <button  class="btn btn-info" name="salvar" value="com_whats" onclick="function_whats();">
                                <img src="{% static 'images/whatsapp.png'%}" alt="Whats"> Salvar e enviar Whatsapp
                            </button>
                    </div>
            </form>
        </p>
      </div>
    </div>

{% endblock %}

