{% extends 'base-javascript.html' %}
{%  load static %}

{% block main %}

    <div class="row">
    {% for andamento in object_list %}

        <div class="col-md-12">
            {% if not andamento.pedido_id == None %}
                <div class="card bg-light mb-12" >
                    <div class="card-header"><h5>{{ andamento.pedido.cliente.nome }} <br> Contrato {{ andamento.pedido_id }} <br>{{ andamento.dataHoraCriacao|date:'d/m/Y H:m' }}</h5></div>
             {% else %}
                <div class="card bg-secondary mb-12" >
                    <div class="card-header"><h5>{{ andamento.solicitacao.cliente.nome }} <br> Solicitacao {{ andamento.solicitacao_id }}</h5></div>
                {% endif %}
                <div class="card-body">

                    <p class="card-text">
                        {{ andamento.comentario }}<br><br>
                        Disponível para o cliente? {{ andamento.disponivelCliente }}<br>
                        Status do andamento:  {{ andamento.status }} <br>
                        Status do contrato:  {{ andamento.pedido.status }}
                    </p>
                </div>
                <div class="card-footer bg-transparent" align="center">
                    <a href="{% url 'update_andamento' andamento.id  %}" ><img src="{% static 'images/edit32x32.png'%}" alt="Editar" ></a>&nbsp;
                    <a href="{% url 'delete_andamento' andamento.id %}"><img src="{% static 'images/delete.png'%}" alt="Deletar" ></a>&nbsp;
                </div>
            </div>
        </div>

    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; Primeira</a>
                <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
            {% endif %}

            <span class="current">
                [Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}]
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Próxima</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
            {% endif %}
        </span>
    </div><br>
{% endblock %}
