{% extends 'base.html' %}
{%  load static %}
{% block head %}
<script>
    function abrirJanela(url) {
        window.open(url, "andamentos", "toolbar=yes, scrollbars=yes, resizable=yes, top=50, left=150, width=800, height=550");
    }
</script>
{% endblock %}
{% block main %}

    <p>
        <h1>Contratos / Serviços ativos</h1>
        <a href="{% url 'create_pedido' %}" class="btn btn-info">Cadastrar nova venda</a>
    </p>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; Primeira</a>
                <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
            {% endif %}

            <span class="current">
                [Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}]
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Próxima</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
            {% endif %}
        </span>
    </div><br>


    <div class="row">
        {%  for pedido in object_list %}
        <div class="col-md-4">
                <div class="card bg-light mb-3">

                <div class="card-header"><h5>{{ pedido.cliente.nome }} <br> Pedido.ID: {{ pedido.id }}</h5></div>
                <div class="card-body">
                    <h5 class="card-title">
                        Vencimento do contrato:
                        {%  if not pedido.contrato_ativo %}
                            <a class="text-white bg-primary">{{ pedido.dataVencimentoContrato|date:'d/m/Y' }}</a>
                        {%  else %}
                            {{ pedido.dataVencimentoContrato|date:'d/m/Y' }}
                        {%  endif %}
                    </h5>
                    <p class="card-text">
                        <b>Vendedor:</b><br>
                        {%  for vendedor in pedido.vendedor.all  %}
                        &nbsp;&nbsp;&nbsp;{{ vendedor.nome }} - {{ vendedor.percentual_bonificacao }}%<br>
                        {%  endfor %}
                        <b>Serviços contratados</b><br>
                        {%  for item in pedido.servico.all  %}
                        <a href="#" onclick="abrirJanela('{% url 'create_andamento' pedido.id 'pedido' pedido.cliente.phonewhatts item.id %}');"><img src="{% static 'images/ship16x16.png'%}" alt="Movimentar" ></a>
                        <a href="#" onclick="abrirJanela('{% url 'list_andamentos' pedido.id item.id %}');"><img src="{% static 'images/list.png'%}" alt="Histórico" ></a>
                            &nbsp;&nbsp;&nbsp;{{  item.nome  }}<br>
                        {%  endfor  %}<br>
                        Movimentações: {{ pedido.total_andamentos }}<br>
                        Status: {{ pedido.status }}
                    </p>
                    <!-- Accordion -->
                    <div id="accordionParcela{{ pedido.id }}">
                      <div class="card" align="center">
                        <div class="card-header" id="headingOne{{ pedido.id }}">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne{{ pedido.id }}" aria-expanded="false" aria-controls="collapseOne{{ pedido.id }}">
                              Total {{ pedido.moeda }}{{ pedido.total_contrato|floatformat:2 }} ({{ pedido.qtdParcelas }}x)<br>

                            </button>
                          </h5>
                        </div>

                        <div id="collapseOne{{ pedido.id }}" class="collapse" aria-labelledby="headingOne{{ pedido.id }}"  data-parent="#accordionParcela{{ pedido.id }}">
                            <div class="card text-white bg-secondary mb-3" >
                                <div class="card-header" style="font-size: small;">
                                {% for parcela in pedido.contareceber_set.all  %}
                                    {%  if parcela.numParcela < 10 %}
                                        0{{ parcela.numParcela }}:
                                    {%  else %}
                                        {{ parcela.numParcela }}:
                                    {% endif %}
                                            {{ parcela.dataVencimento|date:'d/m/Y'  }} | {{ pedido.moeda }} {{ parcela.valor|floatformat:2 }}
                                    {%  if parcela.paga %}
                                        <img src="{% static 'images/check.png'%}" alt="Editar" >
                                        <a onclick="window.open('{% url 'update_contareceber_documento' parcela.id %}','contapagar');"><img src="{% static 'images/document16px.png'%}" alt="Editar"></a>
                                    {%  else %}
                                        <img src="{% static 'images/not.png'%}" alt="Editar" >
                                        <a href="{% url 'update_contareceber' parcela.id %}"> <img src="{% static 'images/edit.png'%}" alt="Editar" width="7%"></a>
                                    {%  endif%}

                                    <br>
                                 {%  endfor  %}
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <!-- fim accordion -->

                    <!-- Accordion -->
                    <div id="accordionComissao{{ pedido.id }}">
                      <div class="card" align="center">
                        <div class="card-header" id="headingTwo{{ pedido.id }}">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOneComissao{{ pedido.id }}" aria-expanded="false" aria-controls="collapseOneComissao{{ pedido.id }}">
                              Comissão {{ pedido.moeda }} {{ pedido.total_comissao|floatformat:2 }} ({{ pedido.vendedor.duracao_em_meses }}x)<br>

                            </button>
                          </h5>
                        </div>

                        <div id="collapseOneComissao{{ pedido.id }}" class="collapse" aria-labelledby="headingTwo{{ pedido.id }}"  data-parent="#accordionComissao{{ pedido.id }}">
                            <div class="card text-white bg-secondary mb-3" >
                                <div class="card-header" style="font-size: small;">
                                {% for comissao in pedido.contapagar_set.all  %}
                                    {%  if comissao.numParcelaComissao < 10 %}
                                        0{{ comissao.numParcelaComissao }}
                                    {%  else %}
                                        {{ comissao.numParcelaComissao }}
                                    {% endif %}
                                            {{ comissao.dataVencimento|date:'m/Y'  }} | {{ pedido.moeda }} {{ comissao.valor|floatformat:2 }}
                                    {%  if comissao.paga %}
                                        <img src="{% static 'images/check.png'%}" alt="Editar" >
                                        <a onclick="window.open('{% url 'update_contapagar_documento' comissao.id %}','contapagar');"><img src="{% static 'images/document16px.png'%}" alt="Editar"></a>
                                    {%  else %}
                                        <img src="{% static 'images/not.png'%}" alt="Editar" >
                                        <a href="{% url 'update_contapagar' comissao.id %}"> <img src="{% static 'images/edit.png'%}" alt="Editar" width="7%"></a>
                                    {%  endif%}
                                    <br>
                                    <b>{{ comissao.vendedor.nome }}</b>
                                    <br>
                                 {%  endfor  %}
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <!-- fim accordion -->
                </div>
                <div class="card-footer bg-transparent" align="center">
                    <a href="{% url 'update_pedido' pedido.id %}" ><img src="{% static 'images/edit32x32.png'%}" alt="Editar" ></a>&nbsp;
                    <a href="{% url 'delete_pedido' pedido.id %}"><img src="{% static 'images/delete.png'%}" alt="Deletar" ></a>&nbsp;
                </div>
            </div>
        </div>
        {% endfor %}
    </div><br>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; Primeira</a>
                <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
            {% endif %}

            <span class="current">
                [Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}]
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Próxima</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
            {% endif %}
        </span>
    </div><br>

{% endblock %}
