{% extends 'base.html' %}
{%  load static %}

{% block main %}

    <p><h1>Venda de serviços</h1><br></p>

    <p><h3>Serviços vendidos</h3><br></p>

    <div class="row" style="background-color: #f1f1f1;">
        <div class="col-2" >&nbsp;</div>
        <div class="col-1"><b>Data</b></div>
        <div class="col-3"><b>Cliente</b></div>
        <div class="col-2"><b>Serviço contratado</b></div>
        <div class="col-2"><b>Pagamento</b></div>
        <div class="col-2"><b>Status</b></div>
        <br><br><br>
    </div>
    {% for pedido in object_list %}
        <div class="row">
            <div class="col-2">
                <a href="{% url 'update_pedido' pedido.id %}" ><img src="{% static 'images/edit.png'%}" alt="Editar" ></a>&nbsp;
                <a href="{% url 'create_andamento' pedido.id 'pedido' %}"><img src="{% static 'images/ship.png'%}" alt="Movimentar" ></a>&nbsp;
                <a href="{% url 'delete_pedido' pedido.id %}"><img src="{% static 'images/delete.png'%}" alt="Deletar" ></a>&nbsp;
            </div>
            <div class="col-1">{{ pedido.dataHoraCriacao|date:'d/m/Y' }}</div>
            <div class="col-3">{{ pedido.cliente.nome }}</div>
            <div class="col-2">{{ pedido.servico.nome }}</div>
            <div class="col-2">R$ {{ pedido.valor }} ({{ pedido.qtdParcelas }} X)</div>
            <div class="col-2">{{ pedido.status }}</div>

        <br><br><br>
        </div>
    {% endfor %}
    <br><br>
    <a href="{% url 'create_pedido' %}" class="btn btn-info">Novo</a>

{% endblock %}
