{%  load static %}


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <style>
      .bg-primary {
        background-color: #333333!important;
      }
      .border-primary {
        border-color: #2e3330;
      }
      .text-primary {
        color: #2e3330;
       }
       .h4, h4 {
            text-align: center;
       }
    </style>

    <title>{% block title %} {%  endblock %} </title>

    {% block head  %} {% endblock %}
</head>
<body>
    <div class="container">
        {% block menu %}
            {% include 'menu.html' %}
        {%  endblock %}
        {% block main %} {%  endblock %}
    </div>

    {% block static %}
    {%  endblock %}

    <!-- biblioteca CDN para o NavBar funcionar -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js'   %} "></script>

</body>
</html>
