{%  load static %}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home'   %}">
    <span class="navbar-logo">
        <a href="{% url 'home' %}">
            <img src="{{ request.user.empregado.empresa.logotipo.url }}" alt="Logotipo" title="" style="height: 3rem;" class="">
        </a>
    </span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home'   %}">&nbsp; <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home'   %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cadastros
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'list_clientes' %}">Cadastro de clientes</a>
          <a class="dropdown-item" href="{% url 'list_vendedores' %}">Cadastro de vendedores</a>
          <a class="dropdown-item" href="{% url 'list_pedidos' %}">Venda de serviços</a>
          <a class="dropdown-item" href="{% url 'list_campanhas' %}">Cadastro de campanhas</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Acompanhamento
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'list_solicitacoes' %}">Registrar e atualizar solicitações de cliente</a>
        </div>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Manutenção e configuração
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'list_servicos' %}">Portifólio de serviços oferecidos</a>
          <a class="dropdown-item" href="{% url 'list_templates_mensagens' %}">Mensagens padrão</a>
          <a class="dropdown-item" href="{% url 'list_tiposServicos' %}">Tipos de serviços oferecidos</a>
          <a class="dropdown-item" href="{% url 'list_status' %}">Status possíveis</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Sair</a>
      </li>
    </ul>
  </div>
</nav>
