{%  load static %}

<div class="col-sm-10 col-form-label col-form-label-sm" style="text-align:left;" >
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home'   %}">
    <span class="navbar-logo">
        <a href="{% url 'home' %}">
            <img src="{{ request.user.empregado.empresa.logotipo.url }}" alt="Logotipo" title="" style="height: 3rem;" class="">
        </a>
    </span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home'   %}">&nbsp; <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cadastros
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'list_pedidos' %}">Registro de vendas / contratos</a>
          <a class="dropdown-item" href="{% url 'list_clientes' %}">Cadastro de clientes</a>
          {% now "Y" as current_year %}
          {% now "m" as current_month %}
          <a class="dropdown-item" href="{% url 'list_vendedores' current_month current_year %}">Cadastro de vendedores</a>
          <a class="dropdown-item" href="{% url 'list_campanhas' %}">Cadastro de campanhas</a>
          <!--
          <a class="dropdown-item" href="{% url 'list_empregados' %}">Cadastro de funcionários</a>
          -->
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Acompanhamento
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'list_solicitacoes' %}">Registrar e atualizar solicitações de cliente</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Plano de contas
        </a>
        {% now "Y" as current_year %}
        {% now "m" as current_month %}
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'list_contaspagar' current_month current_year %}">Contas a pagar</a>
          <a class="dropdown-item" href="{% url 'list_contasreceber' current_month current_year %}">Contas a receber</a>
          <a class="dropdown-item" href="{% url 'list_plano_contas_grupos' %}">Plano de contas</a>
        </div>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Configuração
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'list_servicos' %}">Portifólio de serviços oferecidos</a>
          <a class="dropdown-item" href="{% url 'list_tiposServicos' %}">Tipos de serviços oferecidos</a>
          <a class="dropdown-item" href="{% url 'list_status' %}">Etapas dos processos</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Sair</a>
      </li>
    </ul>

  </div>
  <div class="navbar justify-content-between">
    <form class="form-inline" method="GET">
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fa fa-search"></i></span>
        </div>
        <input type="search" class="form-control" aria-label="Search" aria-describedby="inputGroup-sizing-sm"  name="search" id="search">
        <button class="btn btn-sm btn-outline-secondary" type="submit" id="btneraser"><i class="fa fa-eraser"></i></button>
      </div>
    </form>
  </div>
</nav>
</div>
