{% extends 'base.html' %}

{% block title %}
Home Core
{% endblock %}

{% block main %}
<br>
<div class="row">
    <div class="col-md-3">
        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
            <div class="card-header" align="center">Clientes cadastrados</div>
            <div class="card-body">
                <h3 class="card-title"><h1 align="center">{{   total_clientes   }}</h1></h3>
            </div>
            <div class="card-footer bg-transparent" align="center">
                Quantidade
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
            <div class="card-header" align="center">Clientes sem serviços</div>
            <div class="card-body">
                <h3 class="card-title"><h1 align="center">{{   total_clientes_sem_pedidos   }}</h1></h3>
            </div>
            <div class="card-footer bg-transparent" align="center">
                Quantidade
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
            <div class="card-header" align="center">Serviços vendidos</div>
            <div class="card-body">
                <h3 class="card-title"><h1 align="center">{{   total_pedidos   }}</h1></h3>
            </div>
            <div class="card-footer bg-transparent" align="center">
                Quantidade
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
            <div class="card-header" align="center">Campanhas cadastradas</div>
            <div class="card-body">
                <h3 class="card-title"><h1 align="center">{{  total_campanhas }}</h1></h3>
            </div>
            <div class="card-footer bg-transparent" align="center">
                Quantidade
            </div>
        </div>
    </div>

        <!--
        <div class="card">
          <div class="card-header">
              <h4>
                <i class="fa fa-users" aria-hidden="true"></i> Dashboard
              </h4>
          </div>
          <div class="card-body text-secondary">
            <ul>
                <li>Total de clientes cadastrados: {{   total_clientes   }}</li>
                <li>Clientes sem serviços cadastrados: {{   total_clientes_sem_pedidos   }}</li>
                <li>Total de serviços vendidos: {{   total_pedidos   }} </li>
                <li>Total de campanhas criadas: {{  total_campanhas }}</li>
            </ul>
          </div>
        </div>
        -->
</div>
    <!--
    <div class="span3">
        <div class="card">
          <div class="card-header">
              <h4>
                <i class="fa fa-handshake-o" aria-hidden="true"></i> Serviços
              </h4>
          </div>
          <div class="card-body text-secondary">
            <ul>
                <li>Movimentados hoje:  </li>
                <li>Finalizados (7 dias): </li>
                <li>Sem movimentação: </li>
                <li>Cancelados (90 dias):  </li>
            </ul>
          </div>
        </div>
    </div>
    <div class="span3">
        <div class="card" >
            <div class="card-header">
                <h4>
                <i class="fa fa-bullhorn" aria-hidden="true"></i> Campanhas
              </h4>
            </div>
            <div class="card-body text-secondary">
                <ul>
                    <li>Ativas: </li>
                    <li>Finalizadas (7 dias):  </li>
                    <li>A iniciar (7 dias):  </li>
                </ul>
            </div>
        </div>
    </div>
    -->


{% endblock %}
